/* Universal Selector */
* {
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
}


/* Body Selector */
body {
    background-color: #dfe2ec;
}


/* Header and Nav Selectors */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #454a4d;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    background-color:#ffffff;
    color:#454a4d
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}


/* Main Image Div Selector */
.banner {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/829/812/original/binary-code-banner-vector.jpg");
    background-size: cover;
    background-position: center;
}

/* Content Boxes General Selector */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Content Box Image Selectors */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Content Text, Header, Image Selectors */

#search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

#search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing img {
    max-height: 200px;
}

/* Aside Selectors */

aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Footer Selectors */

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
